
.jumbotron{
	height: 250px;
	background-repeat: no-repeat;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 50px;
	margin-bottom: 0px;
	h1 {
		color: #FFFFFF;
		text-shadow: 0.1em 0.1em 0.2em black;
		float: right;
		right: 20%;
	}
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
}


.navsearch{
	height: 200px;
	background-color: #0b6c1d;
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.4));
}

.navsearch .input-group{
	margin-top: 80px;
}




.search-item {
	margin-bottom: 5px;

	img {
		width: 180px;
		height: 180px;
	}

	h1 {
		display: inline;
	}

	.search-item-body {
		height: 140px;
	}

	.search-item-buttons{
		position: relative;
		float: right;
		right: 6px;
	}

	.search-item-star{
		position: relative;
		float: right;
		right: 6px;
	}
}

#typeahead{
	.tt-hint:hover {
		background-color: #000;
	}

	.tt-query:hover {
		background-color: #000;
	}

	.tt-menu {
	  width: 422px;
	  margin: 12px 0;
	  padding: 8px 0;
	  background-color: #fff;
	  border: 1px solid #ccc;
	  border: 1px solid rgba(0, 0, 0, 0.2);
	  -webkit-border-radius: 8px;
	     -moz-border-radius: 8px;
	          border-radius: 8px;
	  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	          box-shadow: 0 5px 10px rgba(0,0,0,.2);
	}

	.tt-suggestion:hover {
	  cursor: pointer;
	  color: #fff;
	  background-color: #0097cf;
	}
}



.idxitem{
	margin-top: 16px;

	h1{
		font-size: 24px;
	}

	p{
		text-align: justify;
	}
}





.submenu {
	position: relative;
	top: -30px;
	left: 0px;
	margin: 0px;
	border: 0px;
}

.navbar{
	margin: 0px;
}


footer {
	margin-top: 40px;
	height: 100px;
	background-color: #0b6c1d	;
}
